body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background: url(../images/shopping\ image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ----------------------------------------Flash messages */
.flashes h4 {
    margin: 0;
    line-height: 2;
}

.flashes {
    margin: 0;
}