{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Register</h3>
<div class="container">
   <div class="card-panel box_style">
      <form method="POST" action="{{ url_for('register') }}">
         <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input id="username" name="username" type="text" minlength="5"
               maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
         </div>
         <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" name="password" type="password" minlength="5"
               maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
         </div>
         <div class="center-align">
            <button type="submit" class="btn btn-primary">Register</button>
         </div>
      </form>
      <div class="row">
         <div class="col s12">
            <p class="center-align">
               Already Registered?
               <a href="{{ url_for('login') }}">Login</a>
            </p>
         </div>
      </div>
   </div>
</div>
{% endblock %}